- name: Build minimal Podman image
  hosts: localhost
  gather_facts: false

  vars:
    image_name: "terraform-alpine"
    dockerfile_path: "."

  tasks:
    - name: Build Podman image
      containers.podman.podman_image:
        name: "{{ image_name }}"
        path: "{{ dockerfile_path }}"
        build:
          format: docker